// Search form
.search-form {
  @extend .form-inline;
}
.search-form label {
  font-weight: normal;
  @extend .form-group;
}
.search-form .search-field {
  @extend .form-control;
}
.search-form .search-submit {
  @extend .btn;
  @extend .btn-default;
}


input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input, input[type="number"],textarea{
	width: 100%;
	//color: $brand-primary ;
  background-color: $brand-primary;
  color:#FFF;
  border:1px solid #FFF;
  border-radius: 3px;
  padding: 3px;
}

input[type='submit']{
	width: 50%;
	margin-top: 10px;
}