// Grid system
.main {
  @include make-sm-column($main-sm-columns);
  .sidebar-primary & {
    @include make-sm-column($main-sm-columns - $sidebar-sm-columns);
  }
}
.sidebar {
  @include make-sm-column($sidebar-sm-columns);
}


.grid, .banner{
	
	div[class^="col"] {
		//on mobile no padding
		padding: 0px;
		@media (min-width: $screen-sm-min) { 
			padding: 1px;
		}
		position: relative;
		overflow: hidden;
		

		.greybox{
			box-sizing : border-box;
			position: absolute;
			width: 100%;
			left: 0px;
			background-color: rgba(64,64,64,0.6) ;
			padding: 4%;
			bottom:0px;
			z-index: 10;
			height: 95px;

			.bottombox{
				position: absolute;
				bottom: 10px;
				h4{
					font-weight: bold;	
				}	

			}

		}

		.column{
			 background-repeat: no-repeat; 
			-webkit-background-size: cover;
			-moz-background-size: cover;
			 -o-background-size: cover;
			 background-size: cover;
			background-color: $brand-primary;	
			height: 275px;

			.flexslider{
				border: 0px;
			}
		}
		div{
			color:#FFF;
		}
	}

	
}

.banner{
	.row{
		height: 275px;
		.bgcolor{
			div[class^="col"] {
				background-color: $brand-primary !important;
				.column{
					
					padding:0px; 		
					color: #FFF;
					height: 275px;	
				}
				
			}

			.left{
				padding-bottom: 1px;
				
				.column{
					padding-right: 0px;
				}
			}
			.right{
				//background-color: $brand-primary !important;
				background-color: red;

				.column{
					padding: 4% !important;
				}
			}
		}	
		
		
		
		
	}
}

.quote{

	div{
		padding: 20px;
		font-size:25px;
		bottom: 0;
		height: 100px;
		left: 0;
		margin: auto;
		position: absolute;
		top: 0;
		right: 0;
  		transform: translate(0%, -50%);
	}
	
}

.gallery{
	padding: 0px !important;
}