// Grid system
.main {
  @include make-sm-column($main-sm-columns);
  .sidebar-primary & {
    @include make-sm-column($main-sm-columns - $sidebar-sm-columns);
  }
}
.sidebar {
  @include make-sm-column($sidebar-sm-columns);
}


.grid{
	
	div[class^="col"] {
		padding: 1px;
		position: relative;
		.greybox{
			box-sizing : border-box;
			position: absolute;
			width: 100%;
			left: 0px;
			background-color: rgba(64,64,64,0.6) ;
			padding: 4%;
			bottom:0px;
			z-index: 10;

			h4{
				font-weight: bold;	
			}

		}

		.column{
			background-color: $brand-primary;	
			height: 275px;

			.flexslider{
				border: 0px;
			}
		}
		div{
			color:#FFF;
		}
	}

	
}

.quote{

	div{
		padding: 20px;
		font-size:25px;
		bottom: 0;
		height: 100px;
		left: 0;
		margin: auto;
		position: absolute;
		top: 0;
		right: 0;
  		transform: translate(0%, -50%);
	}
	
}