


.grid{
	
	div[class^="col"] {
		padding: 2px;
		
		.column{
			background-color: $brand-primary;	
			padding: 2%;
			height: 275px;
		}
		div{
			color:#FFF;
				
			
			
		}
	}

	// div:nth-child(n){
	// 	background-color: blue;
	// 	height: 150px;
	// }
	
}